<div class="container">
    <div class="row my-5 ">
      <div class="col-lg-4 mb-4">
        <div class="card " style="width: 18rem;">
          <img class="card-img-top" src="https://image.shutterstock.com/image-photo/open-refrigerator-filled-food-kitchen-600w-1670087806.jpg" alt="Card image cap">
          <div class="card-body px-2">
            <h2 class="card-title">Product Name</h2>
            <span>Prize : $100</span>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button mat-raised-button color="primary" class="m-2">Buy Now</button>
            <button mat-raised-button color="accent" class="m-2">Add to Cart</button> 
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
             </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card " style="width: 18rem;">
          <img class="card-img-top" src="https://image.shutterstock.com/image-photo/open-refrigerator-filled-food-kitchen-600w-1670087806.jpg" alt="Card image cap">
          <div class="card-body px-2">
            <h2 class="card-title">Product Name</h2>
            <span>Prize : $100</span>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button mat-raised-button color="primary" class="m-2">Buy Now</button>
            <button mat-raised-button color="accent" class="m-2">Add to Cart</button> 
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
             </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card " style="width: 18rem;">
          <img class="card-img-top" src="https://image.shutterstock.com/image-photo/open-refrigerator-filled-food-kitchen-600w-1670087806.jpg" alt="Card image cap">
          <div class="card-body px-2">
            <h2 class="card-title">Product Name</h2>
            <span>Prize : $100</span>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button mat-raised-button color="primary" class="m-2">Buy Now</button>
            <button mat-raised-button color="accent" class="m-2">Add to Cart</button> 
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
             </div>
        </div>
      </div>
       
     
      
    </div>
</div>

